<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmployeeDiscount" value="30"/>
    <add key="AffilateDiscount" value="10"/>
    <add key="LoyaltyEligibilityYear" value="2"/>
    <add key="LoyelityDiscount" value="5"/>
    <add key="SaleVolumeDiscount" value="5"/>
    <add key="DiscountOnSaleVolume" value="100"/>
  </appSettings>
</configuration>